[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
pytest-cov = "*"
setuptools = "*"
wheel = "*"
twine = "*"
pipenv-setup = "*"
pytest-azurepipelines = "*"
bandit = "*"

[packages]
click = "*"
marshmallow = "*"
pyyaml = "*"
azure-devops = "==5.1.0b6"
victoria_rebuilder = {editable = true,path = "."}
munch = "*"
victoria = "*"
cryptography = ">=3.2"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
